html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
}

@media (min-width: 770px) { 
    .pickerBarLeft {
        border-radius: 1em  0 0 1em;
    }
    .pickerBarRight {
        border-radius: 0 1em 1em 0;
    }
}

@media (max-width: 770px) { 
    .pickerBarLeft {
        border-radius: 0.7em  0.7em 0 0;
    }
    .pickerBarRight {
        border-radius: 0 0 0.7em 0.7em;
    }
}